<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Registration page</title>
</head>
<body>
	<h1>Welcome to Metro System</h1>
	<hr>
	<h3>Register yourself</h3>
	<hr>
	<form action="/afterSignup" method="get">
		Enter your name   :<input type="text" name="passengerName"> <br>
		Enter your mobile :<input type="text" name="passengerPhone"> <br>
		Enter your Age   :<input type="text" name="passengerAge"> <br>
		Enter your email  :<input type="text" name="passengerEmail"> <br>
		Enter your password:<input type="password" name="passengerPassword"> <br>
		<input type="submit" value="Sign Up">
		<input type="reset" value="Reset Form">
	</form>
	<hr>
	<a href="./">Home</a>
</body>
</html>